/* font-family: 'Open Sans', sans-serif;
font-family: 'Monoton', cursive; */

html {
    font-size: 14px;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

.active  {
    color:  #399bd1;  /* trouble getting override color for active*/
}

/*  NAvigation  */



/*  JUMBOTRON  */

.jumbotron {
    background-position: center;
}

.jumbotron-bike {
    background-image: url("../images/jumbotron-bike.jpg");
    
}

.jumbotron .container {
    margin: 11.85rem auto;
    max-width: 51.3rem;
    
}

.jumbotron h1 {
    font-family: 'Monoton', cursive;
    font-size: 7.1rem;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron p {
    color: white;
    text-align: center;
}

button {
    width: 11.34rem;
    margin-top: 2.8rem;
}



.btn-primary {
    background-color: #399bd1;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    
}

.btn-primary:hover {
   box-shadow: 0 0 12px rgba(0, 0, 0, 0.9); 
}

.btn-primary:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/*  FEATURED PROJECT  */

 h2 {
    color: #399bd1;
    margin-bottom: 20px;
    font-size: 1.7rem;
    font-weight: bold;
}

.image-container {
    overflow: hidden;
}

img {
    width: 100%;
    opacity: 0.7;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

.product-categ h3 {
    color: #399bd1;
    
}

.product-categ ul li {
    line-height: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
}

/*  PROJECTS  */

.projects {
    margin-bottom: 5.85rem;
}

/*  LEARN MORE  */

.learn-more {
    background-color: #f3f3f3;
    
}

.learn-more .container {
    padding: 5.2rem 0;
    margin: 0 auto;
    max-width: 44rem;
    text-align: center;
}

h5 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.4rem;
}

.learn-more .container p {
    max-width: 42rem;
}

/*  MEDIA QUERIES */

/*MOBILES*/


@media only screen and (max-width: 768px) {
    .jumbotron h1 {
        font-size: 5.7rem;
    }
    
    .jumbotron {
        background-position: 68% 35%;
    }
    
}

